<a href="https://colab.research.google.com/github/AliMemon76/DS-A-Lab1-Task/blob/main/20sw040_lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

  Task 1

In [ ]:
name = "Ali"
age = 20

print("My name is {} and I am {} years old.".format(name, age))

My name is Ali and I am 20 years old.

Task 2

1 .capitalize(): Converts the first character of a string to uppercase.

In [ ]:
>>> "hello world".capitalize()

'Hello world'

2. center(): Centers a string within a specified width, padding with spaces on the left and right as needed.

In [ ]:
>>> "hello world".center(20)

'    hello world     '

3. count(): Counts the number of occurrences of a substring within a string.

In [ ]:
>>> "hello world".count("hello")

1

4 .endswith(): Returns True if a string ends with a specified substring, False otherwise.

In [ ]:
>>> "hello world".endswith("world")

True

5. find(): Returns the index of the first occurrence of a substring within a string, or -1 if the substring is not found.

In [ ]:
>>> "hello world".find("world")

6

6. format(): Formats a string using a specified format string.

In [ ]:
>>> "The value of pi is {0:.2f}".format(3.1415926)

'The value of pi is 3.14'

7. isalnum(): Returns True if a string is alphanumeric, False otherwise.

In [ ]:
>>> "hello123".isalnum()

>>> "hello world".isalnum()

False

8. isdigit(): Returns True if a string is numeric, False otherwise.

In [ ]:
>>> "123".isdigit()

>>> "hello123".isdigit()

False

9. join(): Joins a sequence of strings together with a specified separator.

In [ ]:
>>> ", ".join(["hello", "world"])

'hello, world'

10. len(): Returns the length of a string.

In [ ]:
>>> len("hello world")

11

11. lower(): Converts a string to lowercase

In [ ]:
>>> "HELLO WORLD".lower()

'hello world'

12. replace():Replaces all occurrences of a substring within a string with a new substring.

In [ ]:
>>> "hello world".replace("hello", "goodbye")

'goodbye world'

13. split():splits a string into a list of substrings based on a specified separator.

In [ ]:
>>> "hello world".split(" ")
['hello', 'world']

['hello', 'world']

Task 3

In [ ]:
month = 8
days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

# use list indexing to determine the number of days in month
num_days = days_in_month[month - 1]

print(num_days)

31

Task 4

In [ ]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003', 'March 29, 2006', 'August 1, 2008', 'July 22, 2009', 'July 11, 2010', 'November 13, 2012', 'March 20, 2015', 'March 9, 2016']

# Select the three most recent dates from the list
recent_dates = eclipse_dates[-3:]

# Print the three most recent dates
print(recent_dates)

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

TasK 5

In [ ]:
students = {
  "1": {
    "name": "Ali Haider",
    "age": 20,
    "courses": ["Math", "English", "Science"]
  },
  "2": {
    "name": "Ali",
    "age": 19,
    "courses": ["History", "Literature", "Art"]
  }
}